{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>

    {% block staticextra %}
    {% endblock %}

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Libreria de fuentes -->
    <script src="https://kit.fontawesome.com/f622ed8508.js" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <meta charset="utf-8">
    <title>

        {% block title %}
            PostulaAyudantíasUdeC
        {% endblock %}

    </title>
</head>
<body>

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block extrajs %}
{% endblock %}

</body>
</html>