{% extends 'base/base.html' %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
        <a class="navbar-brand" href="/plataforma/" style="font-size: large;"><b>Inicio</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.session.es_docente is True %}
            <!--Navbar de docente-->
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/plataforma/nuevo_curso/" >Nuevo Curso</a>
                    </li>
                </ul>
            </div>
        {% elif request.session.es_administrador is True %}
            <!--Navbar de administrador-->
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/plataforma/nuevo_docente/" style="font-size: large;"><b>Nuevo Docentes</b></a>
                    </li>
                </ul>
            </div>
        {% else %}
            <!--Navbar de alumno-->
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        {% if request.session.es_administador is True %}
            <h2>Bienvenido {{ request.session.first_name }} {{ request.session.last_name }} al panel de administración.</h2>
        {% elif request.session.es_docente is True %}
            <h2>Bienvenido {{ request.session.first_name }} {{ request.session.last_name }} al panel de docencia.</h2>
        {% else %}
            <h2>Bienvenido {{ request.session.first_name }} {{ request.session.last_name }} al panel de postulación.</h2>
        {% endif %}
    </div>
{% endblock %}