{% extends 'base/base_dashboard.html' %}
{% load static %}


{% block header %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient sidebar sidebar-dark accordion" style="background-color: #173961;" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-header d-flex align-items-center justify-content-center">
            <img src="/static/images/escudo.gif" style="width: 60px; margin-top: 30px;">
        </a>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/plataforma/">
            <div class="sidebar-brand-text mx-3">AyudantiasUdeC</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li id="li_inicio" class="nav-item">
            <a class="nav-link" href="/plataforma/">
                <i class="fas fa-home"></i>
                <span>Inicio</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        {% if request.session.es_docente is True %}
            <!--Navbar de docente-->
            <li id="li_docente" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocente"
                   aria-expanded="true" aria-controls="collapseDocente">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Docente</span>
                </a>
                <div id="collapseDocente" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded" style="background: #2965AD;">
                        <h6 class="collapse-header text-gray-200">Crear entradas:</h6>
                        <a class="collapse-item text-gray-300" href="/postulaciones/nueva_ayudantia/"><i class="fas fa-chalkboard-teacher"></i> Nueva ayudantía</a>
                        <h6 class="collapse-header text-gray-200">Consultar información:</h6>
                        <a class="collapse-item text-gray-300" href="/plataforma/mis_cursos/"><i class="fas fa-university"></i> Mis Cursos</a>
                        <a class="collapse-item text-gray-300" href="/postulaciones/mis_ayudantias/"><i class="fas fa-list-ul"></i> Postulaciones a <br>mis ayudantias</a>
                    </div>
                </div>
            </li>
        {% elif request.session.es_administrador is True %}
            <!--Navbar de administrador-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdministrador"
                   aria-expanded="true" aria-controls="collapseAdministrador">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Administrador</span>
                </a>
                <div id="collapseAdministrador" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Crear entradas:</h6>
                        <a class="collapse-item" href="/plataforma/nuevo_docente/">Nuevo Docente</a>
                        <h6 class="collapse-header">Consultar información:</h6>
                    </div>
                </div>
            </li>
        {% else %}
            <!--Navbar de alumno-->
            <li id="li_alumno" class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAlumno"
                   aria-expanded="true" aria-controls="collapseAlumno">
                    <i class="fas fa-book-reader"></i>
                    <span>Alumno</span>
                </a>
                <div id="collapseAlumno" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded" style="background: #2965AD;">
                        <h6 class="collapse-header text-gray-200">Consultar información:</h6>
                        <a class="collapse-item text-gray-300" href="/postulaciones/mis_postulaciones/"><i class="fas fa-chalkboard-teacher"></i> Mis postulaciones</a>
                    </div>
                </div>
            </li>
        {% endif %}

        <!-- Nav Item -->
        <li id="li_ofertas" class="nav-item">
            <a class="nav-link" href="/postulaciones/ofertas_ayudantias/">
                <i class="fas fa-folder-open"></i>
                <span>Ofertas a ayudantias</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Soporte
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-question"></i>
                <span>Ayuda</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="py-2 collapse-inner rounded" style="background: #2965AD;">
                    <h6 class="collapse-header text-gray-200">Guía de usuario:</h6>
                    <a class="collapse-item text-gray-300" href="#"><i class="fas fa-question"></i> ¿Como postular?</a>
                    <a class="collapse-item text-gray-300" href="#"><i class="fas fa-poll-h"></i> Proceso de postulación</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header text-gray-200">Contacto:</h6>
                    <a class="collapse-item text-gray-300" href="#"><i class="fas fa-phone"></i> Contacto con soporte</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
    </div>
{% endblock %}