{% extends 'plataforma/dashboard.html' %}

{% load static %}

{% block content %}
    {% if object_list %}
        <div class="card-deck">
            {% for Ayudantia in object_list %}
                <div class="card-group">
                    <div class="card " style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ Ayudantia.curso.nombre }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Código:{{ Ayudantia.curso.codigo }}</h6>
                            <p class="card-text">{{ Ayudantia.semestre }}</p>
                            <p class="card-text">{{ Ayudantia.descripcion }}</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-secundary ">Detalles</a>
                                <a href="#" class="btn btn-primary">Postular</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <h1>No hay ofertas de asignaturas para el Semestre actual</h1>
    {% endif %}

</div>
{% endblock %}

</body>
