{% extends 'plataforma/dashboard.html' %}

{% block content %}
    {% if mi_perfil %}
        <div class="row">
            <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Mi perfil</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <form method="post" class="col" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if messages %}
                                <ul class="alert alert-danger">
                                    {% for message in messages %}
                                        <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="row">
                                <div class="col col-sm-3 text-left">
                                    Correo:
                                </div>
                                <div class="col col-sm-6">
                                    {{ request.session.email }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-3 text-left">
                                    Nombre:
                                </div>
                                <div class="col col-sm-6">
                                    {{ request.session.first_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-3 text-left">
                                    Apellido:
                                </div>
                                <div class="col col-sm-6">
                                    {{ request.session.last_name }}
                                </div>
                            </div>
                            <hr>
                            {% for field in form %}
                                {{ field.label }}:<br>
                                {{ field }}<br><br>
                            {% endfor %}
                            <div>
                                <p>
                                    Subir el registro de notas:
                                    {% if usuario.registro_notas %}
                                        <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="right" data-content="Ya tiene un registro ingresado, publicar uno nuevo sobreescribira el anterior.">
                                            <i class="far fa-check-circle text-success"></i>
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn" data-container="body" data-toggle="popover" data-placement="right" data-content="Aún no ha ingresado un registro de notas.">
                                            <i class="fas fa-ban text-danger"></i>
                                        </button>
                                    {% endif %}
                                </p>
                            </div>
                            <input class="form-control-file" type="file" id="myFile" name="filename">
                            <input class="btn btn-primary btn-block" type="submit" value="Guardar" style="margin-top: 30px;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2>Entrada invalida, acceso no autorizado.</h2>
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>
{% endblock %}