{% extends 'plataforma/dashboard.html' %}

{% block content %}
    {% if mi_perfil %}
        <div class="row">
            <div class="col-xl-6 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Mi perfil</h6>
                    </div>
                    <!-- Card Body -->
                        <div class="card-body">
                        <form method="post" class="col">
                            {% csrf_token %}
                            {% if messages %}
                                <ul class="alert alert-danger">
                                    {% for message in messages %}
                                        <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="row">
                                <div class="col col-sm-3 text-left">
                                    Correo:
                                </div>
                                <div class="col col-sm-6">
                                    {{ request.session.email }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-3 text-left">
                                    Nombre:
                                </div>
                                <div class="col col-sm-6">
                                    {{ request.session.first_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-3 text-left">
                                    Apellido:
                                </div>
                                <div class="col col-sm-6">
                                    {{ request.session.last_name }}
                                </div>
                            </div>
                        <hr>
                            {% for field in form %}
                                {{ field.label }}:<br>
                                {{ field }}<br><br>
                            {% endfor %}
                            <div> <p>Subir el registro de notas</p></div>
                            <form action="/action_page.php">
                                <input type="file" id="myFile" name="filename">
                                <input type="submit" value = "Subir">
                            </form>
                            <input type="submit" value="Guardar" class="btn btn-primary btn-block" style="margin-top: 30px;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2>Entrada invalida, acceso no autorizado.</h2>
    {% endif %}
{% endblock %}
