{% extends 'plataforma/dashboard.html' %}
{% load static %}



{% block content %}
    
<link rel="stylesheet" type="text/css" href="{% static 'css/registar_docente.css' %}">
    
<body>   
        <div class="jumbotron">
            <form method="post">
               {% csrf_token %} 
               {% for field in form %}
               <a style="font-size: large;"> {{ field.label }}:<br> </a>
                {{ field }}<br><br>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Registrar docente">
                </form>
            </div>
        
</body>

 
{% endblock %}