{% extends 'plataforma/dashboard.html' %}

{% block content %}
        <div class="row">
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nueva oferta de ayudantía</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <form method="post" class="col">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="alert alert-danger">
                                {% for message in messages %}
                                    <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% for field in form %}
                            {{ field.label }}:<br>
                            {{ field }}<br>
                        {% endfor %}
                        <input class="btn btn-primary" type="submit" value="Ofrecer ayudantía">
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}