{% extends 'plataforma/dashboard.html' %}

{% block content %}
    <div class="jumbotron" style="background-color: white;">
        <form method="post" class="col col-sm-5">
            <h2>Nueva oferta de ayudantía</h2>
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}:<br>
                {{ field }}<br><br>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Publicar ayudantía">
        </form>
    </div>
{% endblock %}