{% extends 'navegacion/navegacion.html' %}

{% load static %}

{% block header %}
<header class="header" style="background: url('/static/images/arco.JPG') no-repeat center; background-size: cover;  min-height: 100vh; ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient" style="background-color: transparent; position:absolute; left: 0; right: 0; top: 0;">
        <a class="navbar-brand" href="/">PostulaAyudantiasUdeC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros/" style="font-size: large;color: white;">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ayuda/" style="font-size: large;color: white;">Ayuda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto/" style="font-size: large;color: white;">Contacto</a>
                </li>
            </ul>
            <form class="form-inline">
                <a href="/iniciar/" class="btn" style="background-color:white; color: black; filter: opacity(90%);">Iniciar sesión</a>
            </form>
        </div>
    </nav>
    <div class="jumbotron" style="background: none; height: cover;">
        <div class="container" style="margin-top: 10%;">
            <h1 class="display-3" style="color: white;">Bienvenido!</h1>
            <h3 style="color: white;">Realice sus postulaciones y sea parte de un proceso transparente.</h4>
            <br>
            <p><a href="/registro/" class="btn" style="background-color:royalblue; color:white; filter: opacity(90%);">Registrarse</a></p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action 
        <div class="jumbotron" style="background: none; position: relative; left: 0; right: 0; top: 20%;">
            <div class="container">
                <h1 class="display-3" style="color: white;">Bienvenido!</h1>
                <h3 style="color: white;">Realice sus postulaciones y sea parte de un proceso transparente.</h4>
                <br>
                <p><a href="/registro/" class="btn" style="background-color: saddlebrown; color:white; filter: opacity(100%);">Registrarse</a></p>
            </div>
        </div>-->
        <!--
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
        </div>  /container -->
    </main>

{% endblock %}